
  {% extends "base.html" %}
 {% block title %}Acerca de{% endblock %}
    <!-- ======= About Section ======= -->
  {% block content %}
  
    <section class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 position-relative">
            <div class="about-img-box">
              <img src="/media/img/slide-about-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="sinse-box">
              <h3 class="sinse-title">GestiónHotelera
                <span></span>
                <br> Sinse 2022
              </h3>
              
            </div>
          </div>
          <div class="col-md-12 section-t8 position-relative">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <img src="/media/img/about-2.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-lg-2  d-none d-lg-block position-relative">
                <div class="title-vertical d-flex justify-content-start">
                  <span>GestiónHotelera</span>
                </div>
              </div>
              <div class="col-md-6 col-lg-5 section-md-t3">
                <div class="title-box-d">
                  <h3 class="title-d">
                    <span class="color-d">Reseña</span> 
                    <br> 
                  </h3>
                </div>
                <p class="color-text-a">
                  ¿Estás buscando ofertas de Hotel en Cuba? Gestión Hotelera busca por ti entre todos los hoteles del país la mejor oferta para que tú puedas simplemente relajarte y disfrutar la estancia. Gestión Hotelera te permite filtrar por la cadena hotelera, elegir el número de estrellas o seleccionar la cantidad máxima de dinero que quieres gastar, entre otras opciones. En nuestra web puede intercambiar reseñas y valoraciones publicadas por nuestros usuarios sobre sus experiencias de hospedaje, destinos turísticos y otros servicios relacionados con los viajes. Regístrate en nuestra página hoy y comienza a planear tu estancia.
                </p>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- =======Team Section ======= -->


    <section class="section-footer" >
      <div >
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="widget-a">
              <div class="w-header-a"class="container"style="text-align: center;margin-left: 565px;width: 200px;">
                <h3 class="w-title-a text-brand">GestiónHotelera</h3>
              </div>
              <div class="w-body-a"class="container"style="text-align: center;margin-left: 460px;width: 450px;">
                <p class="w-text-a color-text-a">
                  Haga un recorrido de nuestra web y escoja adecuadamente la oferta que complazca sus requisitos.
                </p>
              </div>
              <div class="w-footer-a"class="container"style="text-align: center;margin-left: 400px;width: 555px;">
                <ul class="list-unstyled">
                  <li class="color-a">
                    <span class="color-text-a">Email :</span> contact@example.com
                  </li>
                  <li class="color-a">
                    <span class="color-text-a">Móvil :</span> +54 356 945234
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {% endblock %}
          
