
  {% extends "base.html" %}
 {% block title %}Hoteles{% endblock %}

 {% block content %}
 <div class="mt-5 pt-5">
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Hoteles</h2>
                <p class="w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
           {% for var in hotel %}
            <div class="col">
                <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="{{var.imagen.url}}">
                    <div class="card-body p-4">
                        <p class="card-text"><strong>Nombre: </strong> {{var.nombre}}</p>
                        <p class="card-text"><strong>Precio: </strong>{{var.precio}}$</p>
                        <p class="card-text"><strong>Estrellas: </strong>{{var.estrellas}}</p>
                    </div>
                    <div class="mb-4 d-flex justify-content-center ">
                    <a class="btn bg-primary w-25 text-light" href="/reservacion/{{var.id}}">Reservar</a></div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
 {% endblock %}
