 {% extends "base.html" %}
{% block title%}Home{% endblock %}


{% block content %}

  <!-- ======= Property Search Section ======= -->
 
  
  <!-- ======= Header/Navbar ======= -->
 

  <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">

      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(media/img/hoteles/melia-internacional.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Varadero, Matanzas
                    </p>
                    <h1 class="intro-title mb-4 ">
                      <span class="color-b">Hotel </span> Melia
                      <br> Internacional
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Precio | $178</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(media/img/hoteles/ocean_vista_azul_pool_outdoor_s6jmmc.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Varadero, Matanzas
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Hotel </span> Ocean
                      <br> Vista Azul
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Precio | $ 98</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(media/img/hoteles/DSC_9182.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Havana Vieja, La Habana
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Hotel </span> Manzana
                      <br> Kempinski
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Precio | $ 250</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Otros Servicios</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-truck-front"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Excurción</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Todos los hoteles de nuestro catálogo prestan servicios de excursiones 
                a lugares icónicos de la ciudad correspondiente.
              </p>
              </div>
      
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-gift"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Souvenir</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Para que nunca se olvide de su experiencia en nuestros hoteles 
                  estos tienen ofertas de regalos de todo tipo y precios acequibles.
                </p>
              </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-calendar-check"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Especial</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Se le brinda la opcion de personalizar un evento especial
                  para usted como son bodas, fiestas, noches románticas, etc.
                </p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8" id="carr">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Otros Sitios</h2>
              </div>
              
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">

            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img id="imagenHoteles" src="media/img/hoteles/brisas-trinidad-del-mar-hotel-135.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                          <br />Trinidad Brisas del Mar</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">Precio|$ 54</span>
                      </div>
                      
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Estrellas</h4>
                          <span>3.5
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Habitaciones</h4>
                          <span>120</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Piscinas</h4>
                          <span>2</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Aparcamientos</h4>
                          <span>1</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img id="imagenHoteles" src="media/img/hoteles/grand_memories_santa_maria_3_P.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        Grab Memories 
                          <br />Santa María</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">Precio|$ 140</span>
                      </div>
                      
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Estrellas</h4>
                          <span>4.5
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Habitaciones</h4>
                          <span>200</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Piscinas</h4>
                          <span>5</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Aparcamiento</h4>
                          <span>2</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img id="imagenHoteles" src="media/img/hoteles/hotel_angsana_cayo_santa_maria_vista_hotel_travelnet_cuba_01.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        Angsana
                          <br /> Cayo Santamaria</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">Precio|$ 120</span>
                      </div>
                      
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Estrella</h4>
                          <span>4
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Habitaciones</h4>
                          <span>220</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Piscinas</h4>
                          <span>4</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Aparcamientos</h4>
                          <span>1</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img id="imagenHoteles" src="media/img/hoteles/royalton-hicacos-hotel.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        Royalton Hicacos
                          <br /> Resort & Spa</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">Precio|$ 120</span>
                      </div>
                      
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Estrellas</h4>
                          <span>4.4
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Habitaciones</h4>
                          <span>320</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Piscinas</h4>
                          <span>5</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Aparcamientos</h4>
                          <span>1</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Latest Properties Section -->

    <!-- ======= Agents Section ======= -->
    <section class="section-agents section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Desarrolladores</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="media/img/IMG_20221001_235753.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="agent-single.html" class="link-two">Jorge Luis
                        <br> Batista</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Desarrollador Principal 
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong> +53 55824132
                    </p>
                    <p>
                      <strong>Email: </strong> jorgelbr@uci.cu
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="/media/img/IMG_20220219_112738.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="agent-single.html" class="link-two">Alejandro Viñas
                        <br> Fernández</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Director de Marketing & CEO
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong> +53 54711165
                    </p>
                    <p>
                      <strong>Email: </strong> alevf9917@gamil.com
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="media/img/IMG_20221025_123144.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="agent-single.html" class="link-two">Rolando 
                      <br>Concepción Salazar</a>
                      </h3>
                      
                      
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Diseñador Principal y Consultor
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong> +53 53861731
                    </p>
                    <p>
                      <strong>Email: rolandocs@uci.cu</strong> 
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Agents Section -->

    <!-- ======= Testimonials Section ======= -->
    <section class="section-testimonials section-t8 nav-arrow-a">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Testimonios</h2>
              </div>
            </div>
          </div>
        </div>

        <div id="testimonial-carousel" class="swiper">
          <div class="swiper-wrapper">

            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-img">
                      <img src="assets/img/testimonial-1.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        Más que sarifechos hemos quedado con la web, pudimos enontrar las mejores ofertas y el mejor hotel 
                        que concuerda con nuestros requisitos.
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <img src="media/img/mini-testimonial-1.jpg" alt="" class="testimonial-avatar">
                      <h5 class="testimonial-author">Albert & Erika</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-img">
                      <img src="media/img/testimonial-2.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        Quedamos sorprendido con la basta información y con la fácil que nos hace el trabajo de las reservas , gracias.  
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <img src="media/img/mini-testimonial-2.jpg" alt="" class="testimonial-avatar">
                      <h5 class="testimonial-author">Pablo & Emma</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

          </div>
        </div>
        <div class="testimonial-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

 {% endblock%}